{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlheadercontent.html' %}
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div id="content">

<h1>Add a paper using PrefLib</h1>

{% if form.errors %}
	<p id="center_p"> <strong> An error has occured, please retry ! </strong> </p>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if created %}
	<p>The paper has been added to the database, you should be able to see on the main page now. You will be redirected to the site administration main page in 3 seconds.</p>

	<script>
		function redirect () {
			window.location.href = "{% url 'preflibapp:ownadmin' %}" ;
		}
		setTimeout(redirect, 3000); 
	</script>
{% else %}
	<p>To refer a paper, you should provide its title, authors, publisher, publication year and url. The publisher will generally be the journal or the conference name, the url should link to a page either describing the paper or a PDF version for it.</p>
	<div id="form">
		<form method="post" action="{% url 'preflibapp:adminPaper' %}">
			{% csrf_token %}
			<p id="center_p">
			<table align="center" width="80%">
			{% for field in form %}
				<tr>
					<td>{{ field.label_tag }}</td>
					<td>{{ field }}</td>
				</tr>
			{% endfor %}
			</table>
			</p>
			<p id="center_p"><input id="submit_button" type="submit" value="Add the paper"/><p>
		</form>
	</div>

{% endif %}

</div>
</body>

{% include 'includes/footer.html' %}

</html>