{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlHeaderContent.html' %}
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div id="content">

<h1>Publish a news</h1>

{% if form.errors %}
	<p id="center_p"> <strong> An error has occured, please retry ! </strong> </p>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if created %}
	<p>The news has been added to the database, you should be able to see on the main page now. You will be redirected to the site administration main page in 3 seconds.</p>

	<script>
		function redirect () {
			window.location.href = "{% url 'preflibapp:ownadmin' %}" ;
		}
		setTimeout(redirect, 3000); 
	</script>
{% else %}
	<p>A news consists in a title, a text, a date and an authors. Please fill out the following form to publish a news, the date and the author will automatically be set up respectively as today's date and your username.</p>
	<div id="form">
		<form method="post" action="{% url 'preflibapp:adminNews' %}">
			{% csrf_token %}
			{% for field in form %}
					<p id="center_p">{{ field.label_tag }} {{ field }}</p>
			{% endfor %}
			<p id="center_p"><input id="submit_button" type="submit" value="Publish the news"/><p>
		</form>
	</div>

{% endif %}

</div>
</body>

{% include 'includes/footer.html' %}

</html>