{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlheadercontent.html' %}
	<title>Preflib | Boehmer and Schaar 2022</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

    <h1>Data Collected by Niclas Boehmer and Nathan Schaar</h1>

    <p>
        This page provides more details about the data collected by Niclas Boehmer and Nathan Schaar in their paper
        <a href="https://arxiv.org/abs/2204.03589"><em>Collecting, Classifying, Analyzing, and Using Real-World Elections</em></a>.
    </p>

</div>
</body>

{% include 'includes/footer.html' %}

</html>