{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlheadercontent.html' %}
	<title>Preflib | Boehmer and Schaar 2022</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

    <h1>Data Collected by Niclas Boehmer and Nathan Schaar</h1>

    <p>
        This page provides more details about the data collected by Niclas Boehmer and Nathan Schaar in their paper
        <a href="https://arxiv.org/abs/2204.03589"><em>Collecting, Classifying, Analyzing, and Using Real-World Elections</em></a>.
    </p>

    <p>
        We recommend you to have a careful look at the paper to understand how the strict preferences were obtained.
    </p>

    <h2>The Datasets</h2>

    <p>Here is a list of the datasets:</p>
    <ul>
        <li><a href="{% url 'preflibapp:dataset' '00041' %}">Boardgames Geek Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00042' %}">Boxing</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00043' %}">Cycling Races</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00044' %}">Table Tennis Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00045' %}">Tennis Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00046' %}">Global University Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00047' %}">Spotify Daily Chart</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00048' %}">Spotify Countries Chart</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00049' %}">Multilaps Competitions</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00050' %}">Movehub City Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00051' %}">Countries Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00052' %}">Formula 1 Seasons</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00053' %}">Formula 1 Races</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00054' %}">Weeks Power Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00055' %}">Combined Power Ranking</a></li>
        <li><a href="{% url 'preflibapp:dataset' '00056' %}">Seasons Power Ranking</a></li>
    </ul>

</div>
</body>

{% include 'includes/footer.html' %}

</html>