{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlHeaderContent.html' %}
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

<h1>Data Patch: {{ dataPatch.name }}</h1>

<p><a href="{% url 'preflibapp:dataset' dataSet.category dataSet.seriesNumber %}">Return to the data set.</a></p>

<div class="patchGrid">
	{% for file in filesAndMetadata %}
		<div class="patchCell">
			<h2>{{ file.0.fileName }}</h2>
			<div class="patchCellContent">
				{% if file.1 %}
					<div class="patchCellContent">
						{% if file.0.dataType in "soc soi toc toi tog mjg wmg pwg wmd" %}
							{% with 'data/'|add:dataSet.category|add:'/'|add:dataSet.abbreviation|add:'/img/'|add:file.0.image as imgFile %}
								<p>
									<img src="{% static imgFile %}">
								</p>
							{% endwith %}
						{% endif %}

						{% if dataFile.dataType in "dat csv" %}
							<div class="codebox">
								<p>{{ properties.text|linebreaksbr }}...</p>
							</div>
						{% endif %}

						{% with 'data/'|add:dataSet.category|add:'/'|add:dataSet.abbreviation|add:'/'|add:file.0.fileName as f %}
							<p><span id="downloadButton"><a href="{% static f %}">Download</a></span></p>
						{% endwith %}

						<div class="patchCellContentFlex">
							<table class="propertyTable">
								{% for category in file.1 %}
									<tr>
										<th colspan="2">{{ category.0 | title }}</th>
									</tr>
									{% for metadata in category.1 %}
										<tr>
											<td>{{ metadata.0.name }}</td>
											{% if metadata.0.innerType == "bool" %}
												{% if metadata.1 %}
													<td><span class="checkmark">&#x2713;</span></td>
												{% else %}
													<td><span class="xmark">&#x2717;</span></td>
												{% endif %}
											{% else %}
												<td>{{ metadata.1 }}</td>
											{% endif %}
										</tr>
									{% endfor %}
								{% endfor %}
							</table>
						</div>
					</div>

				{% else %}

					<p>No properties is known for this file.</p>

				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>

</div>
</body>

{% include 'includes/footer.html' %}

</html>