{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlheadercontent.html' %}
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

<h1>{{ datapatch.dataset.name }} - {{ datapatch.description }} <br> {{ datapatch.name }}</h1>

<p><a href="{% url 'preflibapp:dataset' dataset.category dataset.series_number %}">Return to the data set.</a></p>

<div class="patchGrid">
	{% for file in files_meta_preview %}
		<div class="patchCell">
			<h2>{{ file.0.file_name }}</h2>
			<div class="patchCellContent">
				<div class="patchCellContent">
					{% if file.0.data_type in "soc soi toc toi tog mjg wmg pwg wmd" %}
						{% with 'data/'|add:dataset.category|add:'/'|add:dataset.abbreviation|add:'/img/'|add:file.0.image as img_file %}
							<p>
								<img src="{% static img_file %}">
							</p>
						{% endwith %}
					{% endif %}

					{% with 'data/'|add:dataset.category|add:'/'|add:dataset.abbreviation|add:'/'|add:file.0.file_name as f %}
						<p><a href="{% static f %}" class="downloadButton">Download</a></p>
					{% endwith %}

					<div class="patchCellContentFlex">
						<table class="propertyTable">
							<tr>
								<th colspan="2">File Details</th>
							</tr>
							<tr>
								<td>Modification Type</td>
								<td>{{ file.0.modification_type }}</td>
							</tr>
							<tr>
								<td>Size of the File</td>
								<td>{{ file.0.file_size|filesizeformat }}</td>
							</tr>
							<tr>
								<td>Publication Date</td>
								<td>{{ file.0.publication_date.date }}</td>
							</tr>
							<tr>
								<td>Modification Date</td>
								<td>{{ file.0.modification_date.date }}</td>
							</tr>
							{% if file.1 %}
								{% for category in file.1 %}
									<tr>
										<th colspan="2">{{ category.0 | title }}</th>
									</tr>
									{% for metadata in category.1 %}
										<tr>
											<td>{{ metadata.0.name }}</td>
											{% if metadata.0.inner_type == "bool" %}
												{% if metadata.1 %}
													<td><span class="checkmark">&#x2713;</span></td>
												{% else %}
													<td><span class="xmark">&#x2717;</span></td>
												{% endif %}
											{% else %}
												<td>{{ metadata.1 }}</td>
											{% endif %}
										</tr>
									{% endfor %}
								{% endfor %}
							{% endif %}
						</table>
					</div>

					<div class='codebox' style="margin-top: 20px;">
						<table>
							<tbody>
								<td colspan="2" class='lineContent' style="text-align: center; font-size: 120%; font-weight: bold;">Preview of the File</td>
								{% for line in file.2 %}
									<tr>
										<td class='lineNumber'>{{ line.0 }}</td>
										<td class='lineContent'>{{ line.1 }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

</div>
</body>

{% include 'includes/footer.html' %}

</html>
