{% load static %}
{% load extratags %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlHeaderContent.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/nouislider.css' %}"/>
	<script src="{% static 'js/nouislider.js' %}"></script>
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

	<h1>Search for data files</h1>

	<p>Use the following form to search for data files matching your requirements. For the three-valued fields, you can choose whether it should be the case (&#10003;), it should not be the case (&#10007;), or if it does not matter (&#10003;/&#10007;). For the slider fields, you can either use the slider or the input fields, press enter after changing the values in the input fields. Once all the criteria have been selected, press the search button to display the results. </p>
</div>

<div class="content">

	<div class="searchForm">

		<form method="post" action="{% url 'preflibapp:dataSearch' %}#results">
			{% csrf_token %}

			<div class="searchGrid3">

				<div class="searchCell">
				
				<table>
					<tr>
						<th colspan="2">Category of Data</th>
					</tr>
					{% for cat in categories %}
						<tr>
							<td>{{ cat.1|title }} data</td>
							<td>
								<div class="triValuedSelector">
									{% with cat.0|add:"selector" as key %}
										{% with request.POST|keyvalue:key as value %}
											<input type="radio" name="{{ cat.0 }}selector" id="{{ cat.0 }}SelectorYes" class="triValuedSelectorYes" value="yes" {% ifequal value "yes" %} checked {% endifequal %}/>
											<label for="{{ cat.0 }}SelectorYes">&#10003;</label>
											<input type="radio" name="{{ cat.0 }}selector" id="{{ cat.0 }}SelectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal value "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
											<label for="{{ cat.0 }}SelectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
											<input type="radio" name="{{ cat.0 }}selector" id="{{ cat.0 }}SelectorNo" class="triValuedSelectorNo" value="no" {% ifequal value "no" %} checked {% endifequal %}/>
											<label for="{{ cat.0 }}SelectorNo">&#10007;</label>
										{% endwith %}
									{% endwith %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</table>
				<script>
					{% for cat in categories %}
						var {{ cat.0 }}selectorYes = document.getElementById('{{ cat.0 }}SelectorYes');
						var {{ cat.0 }}selectorNo = document.getElementById('{{ cat.0 }}SelectorNo');
						{{ cat.0 }}selectorYes.addEventListener("change", function(evt) {
							{% for e in categories %}
								{% if e.0 != cat.0 %}
									{{ e.0 }}selectorNo.checked = true;
								{% endif %}
							{% endfor %}
						})
					{% endfor %}
				</script>

				</div>

				<div class="searchCell">

				<table>
					<tr>
						<th colspan="6">Type of Data</th>
					</tr>
					{% for type in types %}
						{% if forloop.counter0|divisibleby:3 %}
							{% if forloop.counter0 == 0 %}
								<tr>
							{% else %}
								</tr><tr>
							{% endif %}
						{% endif %}
						<td><a href="{% url 'preflibapp:datatypes' %}#{{type.0}}" title="{{ type.1|title }}">{{ type.0 | upper }}</a></td>
						<td>
							<div class="triValuedSelector">
								{% with type.0|add:"selector" as key %}
									{% with request.POST|keyvalue:key as value %}
										<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorYes" class="triValuedSelectorYes" value="yes" {% ifequal value "yes" %} checked {% endifequal %}/>
										<label for="{{ type.0 }}selectorYes">&#10003;</label>
										<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal value "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
										<label for="{{ type.0 }}selectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
										<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorNo" class="triValuedSelectorNo" value="no" {% ifequal value "no" %} checked {% endifequal %}/>
										<label for="{{ type.0 }}selectorNo">&#10007;</label>
									{% endwith %}
								{% endwith %}
							</div>
						</td>
					{% endfor %}
				</table>
				<script>
					{% for type in types %}
						var {{ type.0 }}selectorYes = document.getElementById('{{ type.0 }}selectorYes');
						var {{ type.0 }}selectorNo = document.getElementById('{{ type.0 }}selectorNo');
						{{ type.0 }}selectorYes.addEventListener("change", function(evt) {
							{% for t in types %}
								{% if t.0 != type.0 %}
									{{ t.0 }}selectorNo.checked = true;
								{% endif %}
							{% endfor %}
						})
					{% endfor %}
				</script>

				</div>

				<div class="searchCell">

				{% regroup allMetadata by category as metadataPerCategories %}

				{% with metadataPerCategories.2 as category %}
					{% include 'includes/metadataCategorySearch.html' %}
				{% endwith %}

				</div>

			</div>

			<div class="searchGrid2" style="margin-top: 30px;">

				<div class="searchCell">

				{% with metadataPerCategories.0 as category %}
					{% include 'includes/metadataCategorySearch.html' %}
				{% endwith %}

				</div>

				<div class="searchCell">

				{% with metadataPerCategories.1 as category %}
					{% include 'includes/metadataCategorySearch.html' %}
				{% endwith %}

				</div>

			</div>

			<p id="center_p">
				<input id="submit_button" type="submit" value="Search" class="downloadButtons"/>
			</p>
			
		</form>
	</div>
</div>

<div class="content" id="results">	

	<div class="searchResults">

		{% if allFiles %}
			<p>We have found {{ allFiles|length }} files satisfying your criterias.</p>

			{% include 'includes/paginator.html' %}

			<table align="center">
				<tr>
					<th class="headerRotate"><div><span>File</span></div></th>
					<th class="headerRotate"><div><span>Election type</span></div></th>
					<th class="headerRotate"><div><span>Data type</span></div></th>
					{% for metadata in allMetadata %}
						<th class="headerRotate"><div><span>{{ metadata.searchResName }}</span></div></th>
					{% endfor %}
					<th></th>
				</tr>
				{% for file in dataFiles %}
				<tr>
					<td><a href="{% url 'preflibapp:datapatch' file.dataPatch.dataSet.category file.dataPatch.dataSet.seriesNumber file.dataPatch.seriesNumber %}">{{ file.shortName }}</a></td>
					<td>{{ file.dataPatch.dataSet.category }}</td>
					<td>{{ file.dataType }}</td>
					{% for metadata in allMetadata %}
						{% if metadata in file.metadatas.all %}
							{% with file.dataproperty_set|getPropFromFile:metadata as property %}
								{% if metadata.innerType == "bool" %}
									<td>
										{% if property.getTypedValue %} 
											<span class="resYes">&#10003;</span>
										{% else %}
											<span class="resNo">&#10007;</span>
										{% endif %}
									</td>
								{% else %}
									<td>{{ property.value }}</td>
								{% endif %}
							{% endwith %}
						{% else %}
							<td><span class="resNone">?</span></td>
						{% endif %}
					{% endfor %}
					<td>
						{% with 'data/'|add:file.dataPatch.dataSet.category|add:'/'|add:file.dataPatch.dataSet.abbreviation|add:'/'|add:file.fileName as f %}
							<span id="downloadButton"><a href="{% static f %}">Download</a></span>
						{% endwith %}
					</td>
				</tr>
				{% endfor %}
			</table>

			{% include 'includes/paginator.html' %}

		{% else %}
			
			<p>Your search yielded no results.</p>

		{% endif %}

	</div>

</div>

<div class="content">
	<p>The search interface has been developped using the noUiSlider, distributed under MIT licence, a JavaScript a lightweight JavaScript range slider library with full multi-touch support and no dependencies. We want to thank Léon Gersen for developing it and making it available. For more informations, check out <a href="https://refreshless.com/nouislider/">this website</a> or the <a href="https://github.com/leongersen/noUiSlider">GitHub page</a>.
</div>
</body>

{% include 'includes/footer.html' %}

</html>