{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% include 'includes/htmlheadercontent.html' %}
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

<h1>Metadata</h1>

<p>We have annotated most of our data files to be able to have a more fine grain analysis of the data we host. This allow for instance to be able to have a more interesting <a href="{% url 'preflibapp:data-search' %}">search tool</a>. For each data file, its metadata are presented in the page of the corresponding datapatch.</p>

<p>In the following we present all the metadata we are using. Note that they may not always be available as some of them require sophisticated computations and/or do not apply for all types of data.</p>

<h2 id="modification">Modification Type</h2>

<p>Each data file is labeled as either Original, Induced, Imbued or Synthetic.</p>
<ul>
    <li><em>Original</em>: Data that has only been converted into our formatting.</li>
    <li><em>Induced</em>: Data that has been induced from another context. For example, computing a pairwise relation from a set of strict total orders. No assumptions have been made to create these files, just a change in the expression language.</li>
    <li><em>Imbued</em>: Data that has been imbued with extra information. For example, extending an incomplete partial order by placing all unranked candidates tied at the end.</li>
    <li><em>Synthetic</em>: Data that has been generated artificially. It is for example, instances of the kidney matching problem generated via the art donor pool generation method.</li> 
</ul>
<p>We encourage you to understand some of the impacts that making these assumptions can have, see, e.g. A Behavioral Perspective on Social Choice. Anna Popova, Michel Regenwetter, and Nicholas Mattei. Annals of Mathematics and Artificial Intelligence 68(1-3), 2013. </p>

{% for cat in metadata_per_categories %}
	
	<h2>{{ cat.0|title }}</h2>

	{% for metadata in cat.1 %}

		<h3 id="{{ metadata.short_name }}">{{ metadata.name|title }}</h3>
		<p>{{ metadata.description|safe }}</p>
		<p>Applies to:
			{% for data_type in metadata.applies_to_list %}
				{% if forloop.last %}
					<a href="{% url 'preflibapp:data-structure' %}#{{data_type}}">{{ data_type }}</a>.
				{% else %}
					<a href="{% url 'preflibapp:data-structure' %}#{{data_type}}">{{ data_type }}</a>,
				{% endif %}
			{% endfor %}
		</p>

	{% endfor %}

{% endfor %}

</div>
</body>

{% include 'includes/footer.html' %}

</html>