{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlHeaderContent.html' %}
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

<h1>{{ dataPatch.dataSet.name }} - {{ dataPatch.description }} <br> {{ dataPatch.name }}</h1>

<p><a href="{% url 'preflibapp:dataset' dataSet.category dataSet.seriesNumber %}">Return to the data set.</a></p>

<div class="patchGrid">
	{% for file in filesAndMetadata %}
		<div class="patchCell">
			<h2>{{ file.0.fileName }}</h2>
			<div class="patchCellContent">
				<div class="patchCellContent">
					{% if file.0.dataType in "soc soi toc toi tog mjg wmg pwg wmd" %}
						{% with 'data/'|add:dataSet.category|add:'/'|add:dataSet.abbreviation|add:'/img/'|add:file.0.image as imgFile %}
							<p>
								<img src="{% static imgFile %}">
							</p>
						{% endwith %}
					{% endif %}

					{% with 'data/'|add:dataSet.category|add:'/'|add:dataSet.abbreviation|add:'/'|add:file.0.fileName as f %}
						<p><span id="downloadButton"><a href="{% static f %}">Download</a></span></p>
					{% endwith %}

					<div class="patchCellContentFlex">
						<table class="propertyTable">
							<tr>
								<th colspan="2">File Details</th>
							</tr>
							<tr>
								<td>Modification Type</td>
								<td>{{ file.0.modificationType }}</td>
							</tr>
							<tr>
								<td>Size of the File</td>
								<td>{{ file.0.fileSize }}b.</td>
							</tr>
							<tr>
								<td>Publication Date</td>
								<td>{{ file.0.publicationDate.date }}</td>
							</tr>
							<tr>
								<td>Modification Date</td>
								<td>{{ file.0.modificationDate.date }}</td>
							</tr>
							{% if file.1 %}
								{% for category in file.1 %}
									<tr>
										<th colspan="2">{{ category.0 | title }}</th>
									</tr>
									{% for metadata in category.1 %}
										<tr>
											<td>{{ metadata.0.name }}</td>
											{% if metadata.0.innerType == "bool" %}
												{% if metadata.1 %}
													<td><span class="checkmark">&#x2713;</span></td>
												{% else %}
													<td><span class="xmark">&#x2717;</span></td>
												{% endif %}
											{% else %}
												<td>{{ metadata.1 }}</td>
											{% endif %}
										</tr>
									{% endfor %}
								{% endfor %}
							{% endif %}
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

</div>
</body>

{% include 'includes/footer.html' %}

</html>
