{% load static %}
{% load extratags %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlheadercontent.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/nouislider.css' %}"/>
	<script src="{% static 'js/nouislider.js' %}"></script>
	<title>Preflib | Search</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content">

	<h1>Search for data files</h1>

	<p>Use the following form to search for data files matching your requirements. For the three-valued fields, you can choose whether it should be the case (&#10003;), it should not be the case (&#10007;), or if it does not matter (&#10003;/&#10007;). For the slider fields, you can either use the slider or the input fields, press enter after changing the values in the input fields. Once all the criteria have been selected, press the search button to display the results. </p>
</div>

<div class="content">

	<div class="searchForm">

		<form method="post" action="{% url 'preflibapp:data-search' %}#results">
			{% csrf_token %}

			<div class="searchGrid2">

				<div class="searchCell">

				<table>
					<tr>
						<th colspan="6">Type of Data</th>
					</tr>
					{% for type in types %}
						{% if forloop.counter0|divisibleby:3 %}
							{% if forloop.counter0 == 0 %}
								<tr>
							{% else %}
								</tr><tr>
							{% endif %}
						{% endif %}
						<td><a href="{% url 'preflibapp:data-format' %}#{{type.0}}" title="{{ type.1|title }}">{{ type.0 | upper }}</a></td>
						<td>
							<div class="triValuedSelector">
								{% with type.0|add:"selector" as key %}
									{% with request.POST|key_value:key as value %}
										<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorYes" class="triValuedSelectorYes" value="yes" {% if value == "yes" %} checked {% endif %}/>
										<label for="{{ type.0 }}selectorYes">&#10003;</label>
										<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% if value == "indef" %} checked {% endif %}{% else %}checked{% endif %}/>
										<label for="{{ type.0 }}selectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
										<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorNo" class="triValuedSelectorNo" value="no" {% if value == "no" %} checked {% endif %}/>
										<label for="{{ type.0 }}selectorNo">&#10007;</label>
									{% endwith %}
								{% endwith %}
							</div>
						</td>
					{% endfor %}
				</table>
				<script>
					{% for type in types %}
						var {{ type.0 }}selectorYes = document.getElementById('{{ type.0 }}selectorYes');
						var {{ type.0 }}selectorNo = document.getElementById('{{ type.0 }}selectorNo');
						{{ type.0 }}selectorYes.addEventListener("change", function(evt) {
							{% for t in types %}
								{% if t.0 != type.0 %}
									{{ t.0 }}selectorNo.checked = true;
								{% endif %}
							{% endfor %}
						})
					{% endfor %}
				</script>

				</div>

				<div class="searchCell">

				{% regroup metadatas by category as metadata_per_categories %}

				{% with metadata_per_categories.2 as category %}
					{% include 'includes/metadatacategorysearch.html' %}
				{% endwith %}

				</div>

			</div>

			<div class="searchGrid2" style="margin-top: 30px;">

				<div class="searchCell">

				{% with metadata_per_categories.0 as category %}
					{% include 'includes/metadatacategorysearch.html' %}
				{% endwith %}

				</div>

				<div class="searchCell">

				{% with metadata_per_categories.1 as category %}
					{% include 'includes/metadatacategorysearch.html' %}
				{% endwith %}

				</div>

			</div>

			<p class="center">
				<input id="submit_button" type="submit" value="Search" class="downloadButtons"/>
			</p>
			
		</form>
	</div>
</div>

<div class="content" id="results">	

	<div class="searchResults">

		{% if all_files %}
			<p>We have found {{ all_files|length }} files satisfying your criterias.</p>

			{% include 'includes/paginator.html' %}

			<table align="center">
				<tr>
					<th class="headerRotate"><div><span>File</span></div></th>
					<th class="headerRotate"><div><span>Data type</span></div></th>
					{% for metadata in metadatas %}
						<th class="headerRotate"><div><span>{{ metadata.search_res_name }}</span></div></th>
					{% endfor %}
					<th></th>
				</tr>
				{% for file in datafiles %}
				<tr>
					<td><a href="{% url 'preflibapp:dataset' file.dataset.series_number %}#{{ file.short_name }}">{{ file.short_name }}</a></td>
					<td>{{ file.data_type }}</td>
					{% for metadata in metadatas %}
						{% if metadata in file.metadata.all %}
							{% with file.dataproperty_set|get_prop_from_file:metadata as property %}
								{% if metadata.inner_type == "bool" %}
									<td>
										{% if property.typed_value %}
											<span class="res-yes">&#10003;</span>
										{% else %}
											<span class="res-no">&#10007;</span>
										{% endif %}
									</td>
								{% else %}
									<td>{{ property.value }}</td>
								{% endif %}
							{% endwith %}
						{% else %}
							<td><span class="res-none">?</span></td>
						{% endif %}
					{% endfor %}
					<td>
                        <a href="{% static file.file_path %}">Download</a>
					</td>
				</tr>
				{% endfor %}
			</table>

			{% include 'includes/paginator.html' %}

		{% else %}
			
			<p>Your search yielded no results.</p>

		{% endif %}

	</div>

</div>

<div class="content">
	<p>The search interface has been developped using the noUiSlider, distributed under MIT licence, a JavaScript a lightweight JavaScript range slider library with full multi-touch support and no dependencies. We want to thank Léon Gersen for developing it and making it available. For more informations, check out <a href="https://refreshless.com/nouislider/">this website</a> or the <a href="https://github.com/leongersen/noUiSlider">GitHub page</a>.
</div>
</body>

{% include 'includes/footer.html' %}

</html>