{% load static %}
{% load extratags %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlHeaderContent.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/nouislider.css' %}"/>
	<script src="{% static 'js/nouislider.js' %}"></script>
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div id="content">

	<h1>Search for data files</h1>

	<div class="searchForm">

		<p>Use the following form to search for data files matching your requirements. For the three-valued fields, you can choose whether it should be the case (&#10003;), it should not be the case (&#10007;), or if it does not matter (&#10003;/&#10007;). For the slider fields, you can either use the slider or the input fields, press enter after changing the values in the input fields. Once all the criteria have been selected, press the search button to display the results. </p>

		<form class="searchGrid" method="post" action="{% url 'preflibapp:dataSearch' %}">
			{% csrf_token %}
			<div class="searchCell" style="border: none;">
				<table>
					<tr>
						<th>General properties</th>
					</tr>
					<tr><td class="subHeader">Type of election:</td></tr>
					{% for ext in extensions %}
						<tr>
							<td>
								<div class="triValuedSelector">
									{% with ext.0|add:"selector" as key %}
										{% with request.POST|keyvalue:key as value %}
											<input type="radio" name="{{ ext.0 }}selector" id="{{ ext.0 }}SelectorYes" class="triValuedSelectorYes" value="yes" {% ifequal value "yes" %} checked {% endifequal %}/>
											<label for="{{ ext.0 }}SelectorYes">&#10003;</label>
											<input type="radio" name="{{ ext.0 }}selector" id="{{ ext.0 }}SelectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal value "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
											<label for="{{ ext.0 }}SelectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
											<input type="radio" name="{{ ext.0 }}selector" id="{{ ext.0 }}SelectorNo" class="triValuedSelectorNo" value="no" {% ifequal value "no" %} checked {% endifequal %}/>
											<label for="{{ ext.0 }}SelectorNo">&#10007;</label>
										{% endwith %}
									{% endwith %}
									{{ ext.1|title }} data
								</div>
							</td>
						</tr>
					{% endfor %}
					<tr><td class="subHeader">Size of the election:</td></tr>
					<tr>
						<td>
							Number of alternatives: <input id="nbAltsSliderValueMin" class="valueInput" name="nbAltsSliderValueMin" value="{{ nbAlt.0 }}" autocomplete="off"> - <input id="nbAltsSliderValueMax" class="valueInput" name="nbAltsSliderValueMax" value="{{ nbAlt.1 }}">
							<div id="nbAltsSlider" class="slider-wrapper" autocomplete="off"></div>
						</td>
					</tr>
					<tr>
						<td>
							Number of ballots: <input id="nbBallotsSliderValueMin" class="valueInput" name="nbBallotsSliderValueMin" min="{{ nbBallot.0 }}" max="{{ nbBallot.1 }}" value="{{ nbBallot.0 }}"> - <input id="nbBallotsSliderValueMax" class="valueInput" name="nbBallotsSliderValueMax" min="{{ nbBallot.0 }}" max="{{ nbBallot.1 }}" value="{{ nbBallot.1 }}">
							<div id="nbBallotsSlider" class="slider-wrapper"></div>
						</td>
					</tr>
					<tr>
						<td>
							Number of unique ballots: <input id="nbUniqBallotsSliderValueMin" class="valueInput" name="nbUniqBallotsSliderValueMin" min="{{ nbUniqueBallot.0 }}" max="{{ nbUniqueBallot.1 }}" value="{{ nbUniqueBallot.0 }}"> - <input id="nbUniqBallotsSliderValueMax" class="valueInput" name="nbUniqBallotsSliderValueMax" min="{{ nbUniqueBallot.0 }}" max="{{ nbUniqueBallot.1 }}" value="{{ nbUniqueBallot.1 }}">
							<div id="nbUniqBallotsSlider" class="slider-wrapper"></div>
						</td>
					</tr>
				</table>
			</div>

			<div class="searchCell">
				<table>
					<tr>
						<th>Ballot structure</th>
					</tr>
					<tr><td class="subHeader">Size of the ballots:</td></tr>
					<tr>
						<td>
							Size of the ballots: <input id="sizeBallotsSliderValueMin" class="valueInput" name="sizeBallotsSliderValueMin" min="0" max="{{ nbAlt.1 }}" value="0"> - <input id="sizeBallotsSliderValueMax" class="valueInput" name="sizeBallotsSliderValueMax" min="{{ nbAlt.0 }}" max="{{ nbAlt.1 }}" value="{{ nbAlt.1 }}">
							<div id="sizeBallotsSlider" class="slider-wrapper"></div>
						</td>
					</tr>
					<tr>
						<td>
							Number of indifferences: <input id="nbIndifSliderValueMin" class="valueInput" name="nbIndifSliderValueMin" min="0" max="{{ nbAlt.1 }}" value="0"> - <input id="nbIndifSliderValueMax" class="valueInput" name="nbIndifSliderValueMax" min="0" max="{{ nbAlt.1 }}" value="{{ nbAlt.1 }}">
							<div id="nbIndifSlider" class="slider-wrapper"></div>
						</td>
					</tr>
					<tr>
						<td>
							Size of indifferences: <input id="sizeIndifSliderValueMin" class="valueInput" name="sizeIndifSliderValueMin" min="0" max="{{ nbAlt.1 }}" value="0"> - <input id="sizeIndifSliderValueMax" class="valueInput" name="sizeIndifSliderValueMax" min="{{ nbAlt.0 }}" max="{{ nbAlt.1 }}" value="{{ nbAlt.1 }}">
							<div id="sizeIndifSlider" class="slider-wrapper"></div>
						</td>
					</tr>
					<tr><td class="subHeader">Properties of the ballots:</td></tr>
					<tr>
						<td>
							<div class="triValuedSelector">
								<input type="radio" name="isSPselector" id="isSPselectorYes" class="triValuedSelectorYes"value="yes" {% ifequal request.POST.isSPselector "yes" %} checked {% endifequal %}/>
								<label for="isSPselectorYes">&#10003;</label>
								<input type="radio" name="isSPselector" id="isSPselectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal request.POST.isSPselector "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
								<label for="isSPselectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
								<input type="radio" name="isSPselector" id="isSPselectorNo" class="triValuedSelectorNo" value="no" {% ifequal request.POST.isSPselector "no" %} checked {% endifequal %}/>
								<label for="isSPselectorNo">&#10007;</label>
								Is single-peaked ?
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="triValuedSelector">
								<input type="radio" name="isSCselector" id="isSCselectorYes" class="triValuedSelectorYes"value="yes" {% ifequal request.POST.isSCselector "yes" %} checked {% endifequal %}/>
								<label for="isSCselectorYes">&#10003;</label>
								<input type="radio" name="isSCselector" id="isSCselectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal request.POST.isSCselector "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
								<label for="isSCselectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
								<input type="radio" name="isSCselector" id="isSCselectorNo" class="triValuedSelectorNo" value="no" {% ifequal request.POST.isSCselector "no" %} checked {% endifequal %}/>
								<label for="isSCselectorNo">&#10007;</label>
								Is single-crossing ?
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="triValuedSelector">
								<input type="radio" name="isAppselector" id="isAppselectorYes" class="triValuedSelectorYes" value="yes" {% ifequal request.POST.isAppselector "yes" %} checked {% endifequal %}/>
								<label for="isAppselectorYes">&#10003;</label>
								<input type="radio" name="isAppselector" id="isAppselectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal request.POST.isAppselector "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
								<label for="isAppselectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
								<input type="radio" name="isAppselector" id="isAppselectorNo" class="triValuedSelectorNo" value="no" {% ifequal request.POST.isAppselector "no" %} checked {% endifequal %}/>
								<label for="isAppselectorNo">&#10007;</label>
								Is an approval ballot ?
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="triValuedSelector">
								<input type="radio" name="isStrictselector" id="isStrictselectorYes" class="triValuedSelectorYes" value="yes" {% ifequal request.POST.isStrictselector "yes" %} checked {% endifequal %}/>
								<label for="isStrictselectorYes">&#10003;</label>
								<input type="radio" name="isStrictselector" id="isStrictselectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal request.POST.isStrictselector "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
								<label for="isStrictselectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
								<input type="radio" name="isStrictselector" id="isStrictselectorNo" class="triValuedSelectorNo" value="no" {% ifequal request.POST.isStrictselector "no" %} checked {% endifequal %}/>
								<label for="isStrictselectorNo">&#10007;</label>
								Is strict ?
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="triValuedSelector">
								<input type="radio" name="isComplselector" id="isComplselectorYes" class="triValuedSelectorYes" value="yes" {% ifequal request.POST.isComplselector "yes" %} checked {% endifequal %}/>
								<label for="isComplselectorYes">&#10003;</label>
								<input type="radio" name="isComplselector" id="isComplselectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal request.POST.isComplselector "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
								<label for="isComplselectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
								<input type="radio" name="isComplselector" id="isComplselectorNo" class="triValuedSelectorNo" value="no" {% ifequal request.POST.isComplselector "no" %} checked {% endifequal %}/>
								<label for="isComplselectorNo">&#10007;</label>
								Is complete ?
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="triValuedSelector">
								<input type="radio" name="hasCondselector" id="hasCondselectorYes" class="triValuedSelectorYes" value="yes" {% ifequal request.POST.hasCondselector "yes" %} checked {% endifequal %}/>
								<label for="hasCondselectorYes">&#10003;</label>
								<input type="radio" name="hasCondselector" id="hasCondselectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal request.POST.hasCondselector "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
								<label for="hasCondselectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
								<input type="radio" name="hasCondselector" id="hasCondselectorNo" class="triValuedSelectorNo" value="no" {% ifequal request.POST.hasCondselector "no" %} checked {% endifequal %}/>
								<label for="hasCondselectorNo">&#10007;</label>
								Has a Condorcet winner ?
							</div>
						</td>
					</tr>
				</table>
			</div>

			<div class="searchCell">
				<table>
					<tr>
						<th>Data type</th>
					</tr>
					{% for type in types %}
						<tr>
							<td style="text-align: right;">
								<div class="triValuedSelector">
									{% with type.0|add:"selector" as key %}
										{% with request.POST|keyvalue:key as value %}
											{{ type.0 | upper }} &nbsp;
											<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorYes" class="triValuedSelectorYes" value="yes" {% ifequal value "yes" %} checked {% endifequal %}/>
											<label for="{{ type.0 }}selectorYes">&#10003;</label>
											<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% ifequal value "indef" %} checked {% endifequal %}{% else %}checked{% endif %}/>
											<label for="{{ type.0 }}selectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
											<input type="radio" name="{{ type.0 }}selector" id="{{ type.0 }}selectorNo" class="triValuedSelectorNo" value="no" {% ifequal value "no" %} checked {% endifequal %}/>
											<label for="{{ type.0 }}selectorNo">&#10007;</label>
										{% endwith %}
									{% endwith %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<p id="center_p"><input id="submit_button" type="submit" value="Search" class="downloadButtons"/><p>
	</form>

	<script>
		{% for ext in extensions %}
			var {{ ext.0 }}selectorYes = document.getElementById('{{ ext.0 }}SelectorYes');
			var {{ ext.0 }}selectorNo = document.getElementById('{{ ext.0 }}SelectorNo');
			{{ ext.0 }}selectorYes.addEventListener("change", function(evt) {
				{% for e in extensions %}
					{% if e.0 != ext.0 %}
						{{ e.0 }}selectorNo.checked = true;
					{% endif %}
				{% endfor %}
			})
		{% endfor %}

		{% for type in types %}
			var {{ type.0 }}selectorYes = document.getElementById('{{ type.0 }}selectorYes');
			var {{ type.0 }}selectorNo = document.getElementById('{{ type.0 }}selectorNo');
			{{ type.0 }}selectorYes.addEventListener("change", function(evt) {
				{% for t in types %}
					{% if t.0 != type.0 %}
						{{ t.0 }}selectorNo.checked = true;
					{% endif %}
				{% endfor %}
			})
		{% endfor %}
		var ballotsSlider = document.getElementById('nbBallotsSlider');
		noUiSlider.create(ballotsSlider, {
			start: [{% if request.POST %} {{request.POST.nbBallotsSliderValueMin}}, {{request.POST.nbBallotsSliderValueMax}} {% else %} {{ nbBallot.0 }}, {{ nbBallot.1 }} {% endif %}],
			step: 1,
			connect: true,
			range: {
				'min': {{ nbBallot.0 }},
				'50%': {{ nbBallot.2 }},
				'max': {{ nbBallot.1 }}
			},
			format: {
				to: function ( value ) {
					return parseInt(value);
				},
				from: function ( value ) {
					return parseInt(value);
				}
			}
		});
		var ballotsSliderValueMin = document.getElementById('nbBallotsSliderValueMin');
		var ballotsSliderValueMax = document.getElementById('nbBallotsSliderValueMax');
		ballotsSlider.noUiSlider.on('update', function (values, handle) {
			ballotsSliderValueMin.value = values[0]
			ballotsSliderValueMax.value = values[1]
			ballotsSliderValueMin.style.width = ballotsSliderValueMin.value.length + "em";
			ballotsSliderValueMax.style.width = ballotsSliderValueMax.value.length + "em";
		});
		ballotsSliderValueMin.addEventListener('change', function (evt) {
			ballotsSlider.noUiSlider.set([this.value, null])
		});
		ballotsSliderValueMax.addEventListener('change', function (evt) {
			ballotsSlider.noUiSlider.set([null, this.value])
		});

		var uniqBallotSlider = document.getElementById('nbUniqBallotsSlider');
		noUiSlider.create(uniqBallotSlider, {
			start: [{% if request.POST %} {{request.POST.nbUniqBallotsSliderValueMin}}, {{request.POST.nbUniqBallotsSliderValueMax}} {% else %} {{ nbUniqueBallot.0 }}, {{ nbUniqueBallot.1 }} {% endif %}],
			step: 1,
			connect: true,
			range: {
				'min': {{ nbUniqueBallot.0 }},
				'50%': {{ nbUniqueBallot.2 }},
				'max': {{ nbUniqueBallot.1 }}
			},
			format: {
				to: function ( value ) {
					return parseInt(value);
				},
				from: function ( value ) {
					return parseInt(value);
				}
			}
		});
		var uniqBallostSliderValueMin = document.getElementById('nbUniqBallotsSliderValueMin');
		var uniqBallostSliderValueMax = document.getElementById('nbUniqBallotsSliderValueMax');
		uniqBallotSlider.noUiSlider.on('update', function (values, handle) {
			uniqBallostSliderValueMin.value = values[0]
			uniqBallostSliderValueMax.value = values[1]
			uniqBallostSliderValueMin.style.width = uniqBallostSliderValueMin.value.length + "em";
			uniqBallostSliderValueMax.style.width = uniqBallostSliderValueMax.value.length + "em";
		});
		uniqBallostSliderValueMin.addEventListener('change', function (evt) {
			uniqBallotSlider.noUiSlider.set([this.value, null])
		});
		uniqBallostSliderValueMax.addEventListener('change', function (evt) {
			uniqBallostSlider.noUiSlider.set([null, this.value])
		});

		var sizeBallotsSlider = document.getElementById('sizeBallotsSlider');
		noUiSlider.create(sizeBallotsSlider, {
			start: [{% if request.POST %} {{request.POST.sizeBallotsSliderValueMin}}, {{request.POST.sizeBallotsSliderValueMax}} {% else %} 0, {{ nbAlt.1 }} {% endif %}],
			connect: true,
			range: {
				'min': 0,
				'50%': {{ nbAlt.2 }},
				'max': {{ nbAlt.1 }}
			},
			format: {
				to: function ( value ) {
					return parseInt(value);
				},
				from: function ( value ) {
					return parseInt(value);
				}
			}
		});
		var sizeBallotsSliderValueMin = document.getElementById('sizeBallotsSliderValueMin');
		var sizeBallotsSliderValueMax = document.getElementById('sizeBallotsSliderValueMax');
		sizeBallotsSlider.noUiSlider.on('update', function (values, handle) {
			sizeBallotsSliderValueMin.value = values[0]
			sizeBallotsSliderValueMax.value = values[1]
			sizeBallotsSliderValueMin.style.width = sizeBallotsSliderValueMin.value.length + "em";
			sizeBallotsSliderValueMax.style.width = sizeBallotsSliderValueMax.value.length + "em";
		});
		sizeBallotsSliderValueMin.addEventListener('change', function (evt) {
			sizeBallotsSlider.noUiSlider.set([this.value, null])
		});
		sizeBallotsSliderValueMax.addEventListener('change', function (evt) {
			sizeBallotsSlider.noUiSlider.set([null, this.value])
		});

		var nbIndifSlider = document.getElementById('nbIndifSlider');
		noUiSlider.create(nbIndifSlider, {
			start: [{% if request.POST %} {{request.POST.nbIndifSliderValueMin}}, {{request.POST.nbIndifSliderValueMax}} {% else %} 0, {{ nbAlt.1 }} {% endif %}],
			connect: true,
			range: {
				'min': 0,
				'50%': {{ nbAlt.2 }},
				'max': {{ nbAlt.1 }}
			},
			format: {
				to: function ( value ) {
					return parseInt(value);
				},
				from: function ( value ) {
					return parseInt(value);
				}
			}
		});
		var nbIndifSliderValueMin = document.getElementById('nbIndifSliderValueMin');
		var nbIndifSliderValueMax = document.getElementById('nbIndifSliderValueMax');
		nbIndifSlider.noUiSlider.on('update', function (values, handle) {
			nbIndifSliderValueMin.value = values[0]
			nbIndifSliderValueMax.value = values[1]
			nbIndifSliderValueMin.style.width = nbIndifSliderValueMin.value.length + "em";
			nbIndifSliderValueMax.style.width = nbIndifSliderValueMax.value.length + "em";
		});
		nbIndifSliderValueMin.addEventListener('change', function (evt) {
			nbIndifSlider.noUiSlider.set([this.value, null])
		});
		nbIndifSliderValueMax.addEventListener('change', function (evt) {
			nbIndifSlider.noUiSlider.set([null, this.value])
		});

		var sizeIndifSlider = document.getElementById('sizeIndifSlider');
		noUiSlider.create(sizeIndifSlider, {
			start: [{% if request.POST %} {{request.POST.sizeIndifSliderValueMin}}, {{request.POST.sizeIndifSliderValueMax}} {% else %} 0, {{ nbAlt.1 }} {% endif %}],
			connect: true,
			range: {
				'min': 0,
				'50%': {{ nbAlt.2 }},
				'max': {{ nbAlt.1 }}
			},
			format: {
				to: function ( value ) {
					return parseInt(value);
				},
				from: function ( value ) {
					return parseInt(value);
				}
			}
		});
		var sizeIndifSliderValueMin = document.getElementById('sizeIndifSliderValueMin');
		var sizeIndifSliderValueMax = document.getElementById('sizeIndifSliderValueMax');
		sizeIndifSlider.noUiSlider.on('update', function (values, handle) {
			sizeIndifSliderValueMin.value = values[0]
			sizeIndifSliderValueMax.value = values[1]
			sizeIndifSliderValueMin.style.width = sizeIndifSliderValueMin.value.length + "em";
			sizeIndifSliderValueMax.style.width = sizeIndifSliderValueMax.value.length + "em";
		});
		sizeIndifSliderValueMin.addEventListener('change', function (evt) {
			sizeIndifSlider.noUiSlider.set([this.value, null])
		});
		sizeIndifSliderValueMax.addEventListener('change', function (evt) {
			sizeIndifSlider.noUiSlider.set([null, this.value])
		});

		var altsSlider = document.getElementById('nbAltsSlider');
		noUiSlider.create(altsSlider, {
			start: [{% if request.POST %} {{request.POST.nbAltsSliderValueMin}}, {{request.POST.nbAltsSliderValueMax}} {% else %} {{ nbAlt.0 }}, {{ nbAlt.1 }} {% endif %}],
			step: 1,
			connect: true,
			range: {
				'min': {{ nbAlt.0 }},
				'50%': {{ nbAlt.2 }},
				'max': {{ nbAlt.1 }}
			},
			format: {
				to: function ( value ) {
					return parseInt(value);
				},
				from: function ( value ) {
					return parseInt(value);
				}
			}
		});
		var altsSliderValueMin = document.getElementById('nbAltsSliderValueMin');
		var altsSliderValueMax = document.getElementById('nbAltsSliderValueMax');
		altsSlider.noUiSlider.on('update', function (values, handle) {
			altsSliderValueMin.value = values[0];
			altsSliderValueMax.value = values[1];
			altsSliderValueMin.style.width = altsSliderValueMin.value.length + "em";
			altsSliderValueMax.style.width = altsSliderValueMax.value.length + "em";
			sizeBallotsSlider.noUiSlider.updateOptions({
				range: {
					'min': 0,
					'max': values[1]
				}
			});
			// sizeBallotsSlider.noUiSlider.set([values[0], values[1]])
			nbIndifSlider.noUiSlider.updateOptions({
				range: {
					'min': 0,
					'max': values[1]
				}
			});
			// nbIndifSlider.noUiSlider.set([values[0], values[1]])
			sizeIndifSlider.noUiSlider.updateOptions({
				range: {
					'min': 0,
					'max': values[1]
				}
			});
			// sizeIndifSlider.noUiSlider.set([values[0], values[1]])
		});
		altsSliderValueMin.addEventListener('change', function (evt) {
			altsSlider.noUiSlider.set([this.value, null]);
		});
		altsSliderValueMax.addEventListener('change', function (evt) {
			altsSlider.noUiSlider.set([null, this.value]);	
		});
	</script>
	

	<div class="searchResults">
		<p>The results of your search, if any, are displayed below.</p>

		{% include 'includes/paginator.html' %}

		<table align="center">
			<tr>
				<th class="headerRotate"><div><span>File</span></div></th>
				<th class="headerRotate"><div><span>Election type</span></div></th>
				<th class="headerRotate"><div><span>Data type</span></div></th>
				<th class="headerRotate"><div><span>Alternatives</span></div></th>
				<th class="headerRotate"><div><span>Ballots</span></div></th>
				<th class="headerRotate"><div><span>Unique ballots</span></div></th>
				<th class="headerRotate"><div><span>Ballot size</span></div></th>
				<th class="headerRotate"><div><span>Indifferences</span></div></th>
				<th class="headerRotate"><div><span>Indifference size</span></div></th>
				<th class="headerRotate"><div><span>Single-peaked</span></div></th>
				<th class="headerRotate"><div><span>Single-crossing</span></div></th>
				<th class="headerRotate"><div><span>Approval</span></div></th>
				<th class="headerRotate"><div><span>Strict</span></div></th>
				<th class="headerRotate"><div><span>Complete</span></div></th>
				<th class="headerRotate"><div><span>Condorcet</span></div></th>
				<th></th>
			</tr>
			{% for file in dataFiles %}
			<tr>
				<td style="border: none;"><a href="{% url 'preflibapp:datapatch' file.dataPatch.dataSet.extension file.dataPatch.dataSet.seriesNumber file.dataPatch.seriesNumber %}">{{ file.shortName }}</a></td>
				<td>{{ file.dataPatch.dataSet.extension }}</td>
				<td>{{ file.dataType }}</td>
				<td>{% if file.proptofile.nbAlternatives == None %} <span class="resNone">?</span> {% else %} {{ file.proptofile.nbAlternatives }} {% endif %}</td>
				<td>{% if file.proptofile.nbVoters == None %} <span class="resNone">?</span> {% else %}{{ file.proptofile.nbVoters }} {% endif %}</td>
				<td>{% if file.proptofile.nbDifferentOrders == None %} <span class="resNone">?</span> {% else %}{{ file.proptofile.nbDifferentOrders }} {% endif %}</td>
				<td>{% if file.proptofile.smallestBallot == None %} <span class="resNone">?</span> {% else %}{{ file.proptofile.smallestBallot }} - {{ file.proptofile.largestBallot }} {% endif %}</td>
				<td>{% if file.proptofile.minNbIndif == None %} <span class="resNone">?</span> {% else %}{{ file.proptofile.minNbIndif }} - {{ file.proptofile.maxNbIndif }} {% endif %}</td>
				<td>{% if file.proptofile.smallestIndif == None %} <span class="resNone">?</span> {% else %} {{ file.proptofile.smallestIndif }} - {{ file.proptofile.largestIndif }} {% endif %}</td>
				<td>{% if file.proptofile.isSinglePeaked == None %} <span class="resNone">?</span> {% else %} {% if file.proptofile.isSinglePeaked %} <span class="resYes">&#10003;</span> {% else %} <span class="resNo">&#10007;</span> {% endif %} {% endif %}</td>
				<td>{% if file.proptofile.isSingleCrossed == None %} <span class="resNone">?</span> {% else %} {% if file.proptofile.isSinglePeaked %} <span class="resYes">&#10003;</span> {% else %} <span class="resNo">&#10007;</span> {% endif %} {% endif %}</td>
				<td>{% if file.proptofile.isApproval == None %} <span class="resNone">?</span> {% else %} {% if file.proptofile.isApproval %} <span class="resYes">&#10003;</span> {% else %} <span class="resNo">&#10007;</span> {% endif %} {% endif %}</td>
				<td>{% if file.proptofile.isStrict == None %} <span class="resNone">?</span> {% else %} {% if file.proptofile.isStrict %} <span class="resYes">&#10003;</span> {% else %} <span class="resNo">&#10007;</span> {% endif %} {% endif %}</td>
				<td>{% if file.proptofile.isComplete == None %} <span class="resNone">?</span> {% else %} {% if file.proptofile.isComplete %} <span class="resYes">&#10003;</span> {% else %} <span class="resNo">&#10007;</span> {% endif %} {% endif %}</td>
				<td>{% if file.proptofile.hasCondorcet == None %} <span class="resNone">?</span> {% else %} {% if file.proptofile.hasCondorcet %} <span class="resYes">&#10003;</span> {% else %} <span class="resNo">&#10007;</span> {% endif %} {% endif %}</td>
				<td>
					{% with 'data/'|add:file.dataPatch.dataSet.extension|add:'/'|add:file.dataPatch.dataSet.abbreviation|add:'/'|add:file.fileName as f %}
						<span id="downloadButton"><a href="{% static f %}">Download</a></span>
					{% endwith %}
				</td>
			</tr>
			{% endfor %}
		</table>


		{% include 'includes/paginator.html' %}
	</div>

</div>
</body>

{% include 'includes/footer.html' %}

</html>