{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/htmlheadercontent.html' %}
	<title>Preflib | Format</title>
</head>

<body>

{% include 'includes/header.html' %}

<div class="content format-content">

<h1>PrefLib Format</h1>

<p>
    PrefLib is about sharing data representing preferences. We have attempted to unify the formatting of the data as
    much as possible. We detail below the different aspects of the hosted data. Specifically, you can learn about:
</p>
<ul>
    <li><a href="#structure">The database structure</a></li>
    <li><a href="#types">The types of data</a></li>
    <li><a href="#format">The file format</a></li>
    <li><a href="#metadata">The metadata</a></li>
</ul>

<h2 id="structure">Database Structure</h2>

<p>
    Our database gathers several datasets. A dataset is a collection of data files somewhat related to each
    others (different years of the same election for instance). The data file represent preferences, expressed according
    to different formats, see the different <a href="#types">types of data</a> we host.
</p>

<p>
    The datasets are classified based on some tags they can have or not. We describe them below.
</p>
{% if all_tags %}
    <ul>
        {% for tag in all_tags %}
            <li><em>{{ tag.name|title }}</em>: {{ tag.description }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2 id="types">Data Types</h2>

<p>
    Each data file has a given data type which represents the type of preferences that are expressed in the data file.
    These types are also used as file extensions. We review them all in the following.
</p>

<h3 id="soc">SOC - Strict Orders - Complete List</h3>

<p class="center"><img src="{% static 'types/soc.png' %}" width="25%" alt="Illustration of the SOC type"></p>

<p>
    The SOC extension contains <a href="https://en.wikipedia.org/wiki/Preference_(economics)">preferences</a>
    represented by a strict and complete linear order (transitive, and asymmetric relation) over the alternatives.
    They are complete in the sense that every linear order contains the whole set of alternatives. They are strict in
    the sense that no two alternatives can be tied.
</p>

<p class="center"><a href="{% static 'data/types/soc.zip' %}" class="download-button">Download all the SOC data files</a></p>

<h3 id="soi">SOI - Strict Orders - Incomplete List</h3>

<p class="center"><img src="{% static 'types/soi.png' %}" width="25%" alt="Illustration of the SOI type"></p>

<p>
    The SOI extension contains <a href="https://en.wikipedia.org/wiki/Preference_(economics)">preferences</a>
    represented by a strict and possibly incomplete linear order (transitive, and asymmetric relation) over the
    alternatives. They are possibly incomplete in the sense that some preferences might not contain the whole set of
    alternatives. They are strict in the sense that no two alternatives can be tied.
</p>

<p class="center"><a href="{% static 'data/types/soi.zip' %}" class="download-button">Download all the SOI data files</a></p>

<h3 id="toc">TOC - Orders with Ties - Complete List</h3>

<p class="center"><img src="{% static 'types/toc.png' %}" width="25%" alt="Illustration of the TOC type"></p>

<p>
    The TOC extension contains <a href="https://en.wikipedia.org/wiki/Preference_(economics)">preferences</a>
    represented by a transitive and complete relation over the alternatives. They are complete in the sense that every
    preference contains the whole set of candidates. They need not be strict: several alternatives can be tied.
</p>

<p class="center"><a href="{% static 'data/types/toc.zip' %}" class="download-button">Download all the TOC data files</a></p>

<h3 id="toi">TOI - Orders with Ties - Incomplete List</h3>

<p class="center"><img src="{% static 'types/toi.png' %}" width="25%" alt="Illustration of the TOI type"></p>

<p>
    The TOI extension contains <a href="https://en.wikipedia.org/wiki/Preference_(economics)">preferences</a>
    represented by a transitive and possibly incomplete relation over the alternatives. They are possibly incomplete in
    the sense that some preferences might not contain the whole set of alternatives. They also need not be strict:
    several alternatives can be tied.
</p>

<p class="center"><a href="{% static 'data/types/toi.zip' %}" class="download-button">Download all the TOI data files</a></p>

<h3 id="cat">CAT - Categorial Preferences</h3>

<p class="center"><img src="{% static 'types/cat.png' %}" width="25%" alt="Illustration of the CAT type"></p>

<p>
    Files with a CAT extension describe categorical preferences. In this domain, voters are asked to position all the
    alternatives into pre-determined categories, for instance the categories &ldquo;Yes&rdquo;, &ldquo;Maybe&rdquo;,
    and &ldquo;No&rdquo;. There exists an underlying ranking over the categories that determine the voters' preferences.
    Note that these preferences are closely related to the ordinal ones described above, except they allow for some
    categories to be empty.
</p>

<p class="center"><a href="{% static 'data/types/cat.zip' %}" class="download-button">Download all the CAT data files</a></p>

<h3 id="wmd">WMD - Weighted Matching Data</h3>

<p class="center"><img src="{% static 'types/wmd.png' %}" width="25%" alt="Illustration of the WMD type"></p>

<p>
    Files with a WMD extension describe a set of weighted matching data. These are weighted directed graphs, i.e., a
    collection of edges between the alternatives associated with a weight.
</p>

<p class="center"><a href="{% static 'data/types/wmd.zip' %}" class="download-button">Download all the WMD data files</a></p>

<h3 id="dat"><span id="csv"></span>CSV and DAT - Extra Data File</h3>

<p>
    Files with a CSV or a DAT extension are used when miscellaneous data are needed. They are generally paired with
    another file, providing more information than is expressible in the basic data formats.
</p>

<h2 id="format">File Format</h2>

<p>
    All the data file share a common file format, with few adaptions for each specific type. Data files contain two
    parts, first a list of metadata with lines starting with a &ldquo;#&rdquo;; second the preferences themselves.
</p>

<p>
    Below, you will find an example of the first 8 lines of the header of a file in the <a href="{% url 'preflibapp:dataset' '00001' %}">irish dataset</a>.
</p>

<div class='codebox'>
    <table>
        <tbody>
            <tr>
                <td class='lineNumber'>1</td>
                <td class='code-line-content'># FILE NAME: 00001-00000001.soi</td>
            </tr>
            <tr>
                <td class='lineNumber'>2</td>
                <td class='code-line-content'># TITLE: 2002 Dublin North</td>
            </tr>
            <tr>
                <td class='lineNumber'>3</td>
                <td class='code-line-content'># DESCRIPTION: </td>
            </tr>
            <tr>
                <td class='lineNumber'>4</td>
                <td class='code-line-content'># DATA TYPE: soi</td>
            </tr>
            <tr>
                <td class='lineNumber'>5</td>
                <td class='code-line-content'># MODIFICATION TYPE: original</td>
            </tr>
            <tr>
                <td class='lineNumber'>6</td>
                <td class='code-line-content'># RELATES TO: </td>
            </tr>
            <tr>
                <td class='lineNumber'>7</td>
                <td class='code-line-content'># RELATED FILES: 00001-00000001.toc</td>
            </tr>
            <tr>
                <td class='lineNumber'>8</td>
                <td class='code-line-content'># PUBLICATION DATE: 2021-06-22</td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    Let us describe each of the metadata that are common to all files.
</p>
<ul>
    <li><em>FILE NAME</em>: the name of the file.</li>
    <li><em>TITLE</em>: the title of the data file, for instance the year of the election represented in the data file.</li>
    <li><em>DESCRIPTION</em>: a description of the data file, providing additional information about it.</li>
    <li><em>DATA TYPE</em>: the type of the data in the data file as described <a href="#types">above</a>.</li>
    <li><em>MODIFICATION TYPE</em>: the modification type of the data file as described <a href="#modification">below</a>.</li>
    <li><em>RELATES TO</em>: the name of the data file that the current file relates to, typically the source file in case the current file has been derived from another one.</li>
    <li><em>RELATED FILES</em>: the list of all the data files related to this one, comma separated.</li>
    <li><em>PUBLICATION DATE</em>: the date at which the data file was publish in the PrefLib system for the first time.</li>
    <li><em>MODIFICATION DATE</em>: the last time the data file was modified.</li>
    <li><em>NUMBER ALTERNATIVES</em>: the number of alternatives in the data file (not all of them have to appear in the preferences).</li>
    <li><em>ALTERNATIVE NAME X</em>: the name of alternative number X.</li>
</ul>

<p>
    The preference part of the file is specific to each data type, we will describe it in the following.
</p>

<h3>Ordinal Preferences</h3>

<p>
    Ordinal preferences are represented using the data types <a href="#soc">SOC</a>, <a href="#soi">SOI</a>,
    <a href="#toc">TOC</a>, and <a href="#toi">TOI</a> all represent ordinal preferences.
</p>

<p>
    On top of the metadata described above, additional ones are specific to ordinal preferences.
</p>
<ul>
    <li><em>NUMBER VOTERS</em>: the number of voters who submitted an order.</li>
    <li><em>NUMBER UNIQUE ORDERS</em>: the number unique orders that have been submitted.</li>
</ul>

<p>
    The orders are described in the following way. Each line indicates first the number of voters who submitted the
    given preference list, and then, after a column, the preference list. Inside a preference list, a strict ordering
    is indicated by comma, and indifference classes are gouped with brackets. We provide some examples below for a
    better understanding.
</p>

<ul>
    <li><em>1, 4, 3, 2</em>: indicates that 1 is preferred to 4, that is preferred to 3, itself preferred to 2.</li>
    <li><em>1, {4, 3}, 2</em>: indicates that 1 is preferred to 4 and 3, that are both preferred to 2, but 4 and 3 are ranked at the same position.</li>
</ul>

<p>
    To conclude, here is an example of the 27 first lines of a data file of complete orders with ties
    (<a href="#toc">TOC</a>) (taken from the <a href="{% url 'preflibapp:dataset' '00002' %}">debian election dataset</a>).
</p>

<div class='codebox'>
    <table>
        <tbody>
            <tr>
                <td class='lineNumber'> 1 </td>
                <td class='code-line-content'># FILE NAME: 00002-00000001.toc</td>
            </tr>
            <tr>
                <td class='lineNumber'> 2 </td>
                <td class='code-line-content'># TITLE: Debian 2002 Leader</td>
            </tr>
            <tr>
                <td class='lineNumber'> 3 </td>
                <td class='code-line-content'># DESCRIPTION: Obtained from the soi by adding the unranked alternatives at the bottom</td>
            </tr>
            <tr>
                <td class='lineNumber'> 4 </td>
                <td class='code-line-content'># DATA TYPE: toc</td>
            </tr>
            <tr>
                <td class='lineNumber'> 5 </td>
                <td class='code-line-content'># MODIFICATION TYPE: imbued</td>
            </tr>
            <tr>
                <td class='lineNumber'> 6 </td>
                <td class='code-line-content'># RELATES TO: 00002-00000001.soi</td>
            </tr>
            <tr>
                <td class='lineNumber'> 7 </td>
                <td class='code-line-content'># RELATED FILES:</td>
            </tr>
            <tr>
                <td class='lineNumber'> 8 </td>
                <td class='code-line-content'># PUBLICATION DATE: 2021-06-22</td>
            </tr>
            <tr>
                <td class='lineNumber'> 9 </td>
                <td class='code-line-content'># MODIFICATION DATE: 2022-09-16</td>
            </tr>
            <tr>
                <td class='lineNumber'> 10 </td>
                <td class='code-line-content'># NUMBER ALTERNATIVES: 4</td>
            </tr>
            <tr>
                <td class='lineNumber'> 11 </td>
                <td class='code-line-content'># NUMBER VOTERS: 475</td>
            </tr>
            <tr>
                <td class='lineNumber'> 12 </td>
                <td class='code-line-content'># NUMBER UNIQUE ORDERS: 31</td>
            </tr>
            <tr>
                <td class='lineNumber'> 13 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 1: Branden Robinson</td>
            </tr>
            <tr>
                <td class='lineNumber'> 14 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 2: Raphael Hertzog</td>
            </tr>
            <tr>
                <td class='lineNumber'> 15 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 3: Bdale Garbee</td>
            </tr>
            <tr>
                <td class='lineNumber'> 16 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 4: None Of The Above</td>
            </tr>
            <tr>
                <td class='lineNumber'> 17 </td>
                <td class='code-line-content'>100: 3,1,2,4</td>
            </tr>
            <tr>
                <td class='lineNumber'> 18 </td>
                <td class='code-line-content'>79: 1,3,2,4</td>
            </tr>
            <tr>
                <td class='lineNumber'> 19 </td>
                <td class='code-line-content'>54: 3,2,1,4</td>
            </tr>
            <tr>
                <td class='lineNumber'> 20 </td>
                <td class='code-line-content'>43: 2,3,1,4</td>
            </tr>
            <tr>
                <td class='lineNumber'> 21 </td>
                <td class='code-line-content'>34: 3,2,4,1</td>
            </tr>
            <tr>
                <td class='lineNumber'> 22 </td>
                <td class='code-line-content'>30: 1,2,3,4</td>
            </tr>
            <tr>
                <td class='lineNumber'> 23 </td>
                <td class='code-line-content'>29: 2,1,3,4</td>
            </tr>
            <tr>
                <td class='lineNumber'> 24 </td>
                <td class='code-line-content'>16: 1,3,4,2</td>
            </tr>
            <tr>
                <td class='lineNumber'> 25 </td>
                <td class='code-line-content'>14: 2,3,4,1</td>
            </tr>
            <tr>
                <td class='lineNumber'> 26 </td>
                <td class='code-line-content'>12: 3,1,4,2</td>
            </tr>
            <tr>
                <td class='lineNumber'> 27 </td>
                <td class='code-line-content'>9: 3,{1,2,4}</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Categorical Preferences</h3>

<p>
    Categorical preferences are very similar to ordinal ones. Some metadata are also specific to them.
</p>
<ul>
    <li><em>NUMBER VOTERS</em>: the number of voters who submitted their preference.</li>
    <li><em>NUMBER UNIQUE PREFERENCES</em>: the number unique preferences that have been submitted.</li>
    <li><em>NUMBER CATEGORIES</em>: the number of categories the voters were asked to put alternatives in.</li>
    <li><em>CATEGORY NAME X</em>: the name of category number X.</li>
</ul>

<p>
    The preferences are described in the following way. Each line indicates first the number of voters who submitted the
    given preference list, and then, after a column, the preference list. Inside a preference list, each category is
    grouped around brackets, except for the categories with a single alternative, the empty category being
    &ldquo;{}&rdquo;. We provide some examples below for abetter understanding.
</p>

<ul>
    <li><em>1, 3, {}</em>: indicates that the alternative 1 is in category 1, alternative 3 in the second category, and the last category is left empty.</li>
    <li><em>{}, 1, {2, 3}</em>: indicates that the first category is empty, alternative 1 is in the second category and alternatives 2 and 3 are in the last category.</li>
</ul>

<p>
    Let's conclude with an example from the <a href="{% url 'preflibapp:dataset' '00026' %}">french approval dataset</a>.
</p>

<div class='codebox'>
    <table>
        <tbody>
            <tr>
                <td class='lineNumber'> 1 </td>
                <td class='code-line-content'># FILE NAME: 00026-00000001.cat</td>
            </tr>
            <tr>
                <td class='lineNumber'> 2 </td>
                <td class='code-line-content'># TITLE: GylesNonains</td>
            </tr>
            <tr>
                <td class='lineNumber'> 3 </td>
                <td class='code-line-content'># DESCRIPTION:</td>
            </tr>
            <tr>
                <td class='lineNumber'> 4 </td>
                <td class='code-line-content'># DATA TYPE: cat</td>
            </tr>
            <tr>
                <td class='lineNumber'> 5 </td>
                <td class='code-line-content'># MODIFICATION TYPE: original</td>
            </tr>
            <tr>
                <td class='lineNumber'> 6 </td>
                <td class='code-line-content'># RELATES TO:</td>
            </tr>
            <tr>
                <td class='lineNumber'> 7 </td>
                <td class='code-line-content'># RELATED FILES: 00026-00000001.toc</td>
            </tr>
            <tr>
                <td class='lineNumber'> 8 </td>
                <td class='code-line-content'># PUBLICATION DATE: 2021-06-25</td>
            </tr>
            <tr>
                <td class='lineNumber'> 9 </td>
                <td class='code-line-content'># MODIFICATION DATE: 2022-09-16</td>
            </tr>
            <tr>
                <td class='lineNumber'> 10 </td>
                <td class='code-line-content'># NUMBER ALTERNATIVES: 16</td>
            </tr>
            <tr>
                <td class='lineNumber'> 11 </td>
                <td class='code-line-content'># NUMBER VOTERS: 365</td>
            </tr>
            <tr>
                <td class='lineNumber'> 12 </td>
                <td class='code-line-content'># NUMBER UNIQUE PREFERENCES: 216</td>
            </tr>
            <tr>
                <td class='lineNumber'> 13 </td>
                <td class='code-line-content'># NUMBER CATEGORIES: 2</td>
            </tr>
            <tr>
                <td class='lineNumber'> 14 </td>
                <td class='code-line-content'># CATEGORY NAME 1: Yes</td>
            </tr>
            <tr>
                <td class='lineNumber'> 15 </td>
                <td class='code-line-content'># CATEGORY NAME 2: No</td>
            </tr>
            <tr>
                <td class='lineNumber'> 16 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 1: Megret</td>
            </tr>
            <tr>
                <td class='lineNumber'> 17 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 2: Lepage</td>
            </tr>
            <tr>
                <td class='lineNumber'> 18 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 3: Gluckstein</td>
            </tr>
            <tr>
                <td class='lineNumber'>...</td>
                <td class='code-line-content'></td>
            </tr>
            <tr>
                <td class='lineNumber'>32</td>
                <td class='code-line-content'>13: 6,{1,2,3,4,5,7,8,9,10,11,12,13,14,15,16}</td>
            </tr>
            <tr>
                <td class='lineNumber'> 33 </td>
                <td class='code-line-content'>13: {},{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16}</td>
            </tr>
            <tr>
                <td class='lineNumber'> 34 </td>
                <td class='code-line-content'>10: {9,10},{1,2,3,4,5,6,7,8,11,12,13,14,15,16}</td>
            </tr>
            <tr>
                <td class='lineNumber'> 35 </td>
                <td class='code-line-content'>10: {1,6},{2,3,4,5,7,8,9,10,11,12,13,14,15,16}</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Weighted Matching</h3>

<p>
    Let us start, as usual, for the metadata that are specific to the matching data.
</p>
<ul>
    <li><em>NUMBER EDGES</em>: the number of edges in the matching graph.</li>
</ul>

<p>
    The matching grap iteself is described as a list of <em>Source, Destination, Weight</em>. Below is an example from
    the <a href="{% url "preflibapp:dataset" '00036' %}">kidney matching dataset</a>.
</p>

<div class='codebox'>
    <table>
        <tbody>
            <tr>
                <td class='lineNumber'> 1 </td>
                <td class='code-line-content'># FILE NAME: 00036-00000001.wmd</td>
            </tr>
            <tr>
                <td class='lineNumber'> 2 </td>
                <td class='code-line-content'># TITLE: Kidney Matching - 16 with 0</td>
            </tr>
            <tr>
                <td class='lineNumber'> 3 </td>
                <td class='code-line-content'># DESCRIPTION:</td>
            </tr>
            <tr>
                <td class='lineNumber'> 4 </td>
                <td class='code-line-content'># DATA TYPE: wmd</td>
            </tr>
            <tr>
                <td class='lineNumber'> 5 </td>
                <td class='code-line-content'># MODIFICATION TYPE: synthetic</td>
            </tr>
            <tr>
                <td class='lineNumber'> 6 </td>
                <td class='code-line-content'># RELATES TO:</td>
            </tr>
            <tr>
                <td class='lineNumber'> 7 </td>
                <td class='code-line-content'># RELATED FILES: 00036-00000001.dat</td>
            </tr>
            <tr>
                <td class='lineNumber'> 8 </td>
                <td class='code-line-content'># PUBLICATION DATE: 2021-06-25</td>
            </tr>
            <tr>
                <td class='lineNumber'> 9 </td>
                <td class='code-line-content'># MODIFICATION DATE: 2022-09-16</td>
            </tr>
            <tr>
                <td class='lineNumber'> 10 </td>
                <td class='code-line-content'># NUMBER ALTERNATIVES: 16</td>
            </tr>
            <tr>
                <td class='lineNumber'> 11 </td>
                <td class='code-line-content'># NUMBER VOTERS: 365</td>
            </tr>
            <tr>
                <td class='lineNumber'> 12 </td>
                <td class='code-line-content'># NUMBER EDGES: 59</td>
            </tr>
            <tr>
                <td class='lineNumber'> 13 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 1: Pair 1</td>
            </tr>
            <tr>
                <td class='lineNumber'> 14 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 2: Pair 2</td>
            </tr>
            <tr>
                <td class='lineNumber'> 15 </td>
                <td class='code-line-content'># ALTERNATIVE NAME 3: Pair 3</td>
            </tr>
            <tr>
                <td class='lineNumber'>...</td>
                <td class='code-line-content'></td>
            </tr>
            <tr>
                <td class='lineNumber'>28</td>
                <td class='code-line-content'>1,5,1.0</td>
            </tr>
            <tr>
                <td class='lineNumber'> 29 </td>
                <td class='code-line-content'>1,6,1.0</td>
            </tr>
            <tr>
                <td class='lineNumber'> 30 </td>
                <td class='code-line-content'>2,1,1.0</td>
            </tr>
            <tr>
                <td class='lineNumber'> 31 </td>
                <td class='code-line-content'>2,3,1.0</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Extra Data File</h3>

<p>
    When miscellaneous data are needed, we use the file extension DAT which has no specified format.
</p>

<h2 id="metadata">Metadata</h2>

<p>
    We have annotated most of our data files to be able to have a more fine grain analysis of the data we host.
    This allows for instance to be able to have a more interesting <a href="{% url 'preflibapp:data-search' %}">
    search tool</a>. For each data file, its metadata are presented on its corresponding page.
</p>

<p>
    In the following we present all the metadata we are using. Note that they may not always be available as some
    of them require sophisticated computations and/or do not apply for all types of data.
</p>

<h3 id="modification">Modification Type</h3>

<p>Each data file is labeled as either Original, Induced, Imbued or Synthetic.</p>
<ul>
    <li><em>Original</em>: Data that has only been converted into our formatting.</li>
    <li><em>Induced</em>: Data that has been induced from another context. For example, computing a pairwise relation from a set of strict total orders. No assumptions have been made to create these files, just a change in the expression language.</li>
    <li><em>Imbued</em>: Data that has been imbued with extra information. For example, extending an incomplete partial order by placing all unranked candidates tied at the end.</li>
    <li><em>Synthetic</em>: Data that has been generated artificially. It is for example, instances of the kidney matching problem generated via the art donor pool generation method.</li>
</ul>
<p>We encourage you to understand some of the impacts that making these assumptions can have, see, e.g.
    <a href="https://link.springer.com/article/10.1007/s10472-012-9326-6">A Behavioral Perspective on Social Choice.</a>
        Anna Popova, Michel Regenwetter, and Nicholas Mattei. Annals of Mathematics and Artificial Intelligence 68(1-3),
        2013.
</p>

{% for cat in metadata_per_categories %}

	<h3>{{ cat.0|title }}</h3>

    <ul>
        {% for metadata in cat.1 %}
            <li id="metadata-{{ metadata.short_name }}"><em>{{ metadata.name|title }}</em>: {{ metadata.description|safe }}</li>
        {% endfor %}
    </ul>

{% endfor %}

</div>
</body>

{% include 'includes/footer.html' %}

</html>