{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'includes/htmlHeaderContent.html' %}
	<title>Preflib</title>
</head>

<body>

{% include 'includes/header.html' %}

<div id="content">

<h1>List of the publications using PrefLib</h1>

<p>Below is a list of papers that have made use of or directly referenced data stored here at PrefLib. If you use our data in a paper please contact contact <a href="http://www.nickmattei.net">Nicholas Mattei</a> at nsmattei{at}gmail{dot}com or <a href="http://www.simonrey.fr">Simon Rey</a> at srey{at}uva{dot}nl to have your papers added to the list. The papers have been automatically added from Google Scholar, if there is a problem with a paper, please contact us.</p>

<p>Additional references for individual datasets can be found on the appropriate <a href="{% url 'preflibapp:data' %}">Data pages</a>.</p>

<p>Even more references, papers, and tutorials can be found in the proceedings of the EXPLORE Workshops:
	<ul>
		<li><a href="http://www.explore-2017.preflib.org/">EXPLORE 2017 - Brazil</a></li>
		<li><a href="http://www.explore-2016.preflib.org/">EXPLORE 2016 - Singapore</a></li>
		<li><a href="http://www.explore-2015.preflib.org/">EXPLORE 2015 - Istanbul</a></li>
		<li><a href="http://www.explore14.preflib.org/">EXPLORE 2014 - Paris</a></li>
	</ul>
</p>

<p>We may not have everything listed here! Another good place to see papers that have used PrefLib is to check out the citing page at <a href="https://scholar.google.com/scholar?oi=bibs&hl=en&cites=6088122193376974661">Google Scholar</a>.</p>

<h2> Publications </h2>

{% include 'includes/paginator.html' %}

<ul reversed>
{% for pa in papers %}
	<li id="publication"><a href="{{ pa.url }}">{{ pa.title }}.</a> {{ pa.authors }}, <em>{{ pa.publisher }}</em> ({{ pa.year}}).</li>
{% endfor %}
</ul>

{% include 'includes/paginator.html' %}

</div>
</body>

{% include 'includes/footer.html' %}

</html>