{% load static %}	

<div id='header'>
	<div id='banner'>
		<div class='title-wrap'>
			<div class='title'>
				<p><a href="{% url 'preflibapp:main' %}">PrefLib<span class="largeScreen">: A Library for Preferences</span></a></p>
			</div>
		</div>
	</div>

	<div class="menu-wrap">
		<div id="menu">
			<div>
			<a>
				<label for="menucheck" id="toggle-menu">
					<div>Menu<span class="drop-icon">&nbsp;&#x25be;</span></div>
				</label>
			</a></div>
			<input type="checkbox" id="menucheck">
			<ul class="main-menu cf">
				<li>
					<a href="{% url 'preflibapp:data-format' %}">
						<span id="listspan">&#x2756;&nbsp;</span>Format
					</a>
				</li>

				<li>
					<a href="{% url 'preflibapp:all-datasets' %}">
						<span id="listspan">&#x2756;&nbsp;</span>Datasets
					</a>
				</li>

				<li>
					<a href="{% url 'preflibapp:data-search' %}">
						<span id="listspan">&#x2756;&nbsp;</span>Search
					</a>
				</li>

				<li>
					<a href="{% url 'preflibapp:about' %}">
						<span id="listspan">&#x2756;&nbsp;</span>About
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>