{% load static %}	

<div id='header'>
	<div id='banner'>
		<div class='title-wrap'>
			<div class='title'>
				<p><a href="{% url 'preflibapp:main' %}">PrefLib<span class="largeScreen">: A Library for Preferences</span></a></p>
			</div>
			<div class='supportedBy'>
				<p><a href="https://research.csiro.au/data61/preflib-tools-and-archive/"><img src="{% static 'data61white.png' %}" alt="Data61 and CSIRO logo"/></a></p>
			</div>
		</div>
	</div>

	<div class="menu-wrap">
		<nav id="menu">
			<div>
			<a><label for="menucheck" id="toggle-menu"><div>Menu<span class="drop-icon">&nbsp;&#x25be;</span></div></a></label></div>
			<input type="checkbox" id="menucheck">
			<ul class="main-menu cf">
				<li><a href="{% url 'preflibapp:main' %}"><span id="listspan">&#x2756;&nbsp;</span>Overview</a></li>
				
				<li>
					<a href="{% url 'preflibapp:data' %}">
						<div>
							<span><span id="listspan">&#x2756;&nbsp;</span>Data</span>
							<span class="drop-icon">&nbsp;&#x25be;</span>
							<label title="Toggle Drop-down" class="drop-icon" for="datacheck">&nbsp;&#x25be;</label>
						</div>
					</a>
					<input type="checkbox" id="datacheck">
					<ul class="sub-menu">
						<li><a href="{% url 'preflibapp:dataFormat' %}"><span id="listspan">&#x2666;&nbsp;</span>Data format</a></li>
						<li><a href="{% url 'preflibapp:dataMetadata' %}"><span id="listspan">&#x2666;&nbsp;</span>Metadata</a></li>
						<li class="sub-sub-menu" >
							<a href="{% url 'preflibapp:datatypes' %}">
								<div>
									<span><span id="listspan">&#x2666;&nbsp;</span>Data types</span> <span class="drop-icon">&nbsp;&#x25b8;</span>
									<label title="Toggle Drop-down" class="drop-icon" for="typecheck">&nbsp;&#x25be;</label>
								</div>
							</a>
							<input type="checkbox" id="typecheck">
							<ul class="sub-menu">
								{% for dataType in DATATYPES %}
									<li><a href="{% url 'preflibapp:datatypes'%}#{{dataType.0}}">{{ dataType.0|upper }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% for dataExtension in DATASETEXTENSIONS %}
							<li><a href="{% url 'preflibapp:alldatasets' dataExtension.0 %}"><span id="listspan">&#x2666;&nbsp;</span>{{ dataExtension.1|capfirst }} data</a></li>
						{% endfor %}
						<li><a href="{% url 'preflibapp:dataSearch' %}"><span id="listspan">&#x2666;&nbsp;</span>Search</a></li>
					</ul>
				</li>

				<li>
					<a href="{% url 'preflibapp:tools' %}">
						<div>
							<span><span id="listspan">&#x2756;&nbsp;</span>Tools</span>
							<span class="drop-icon">&nbsp;&#x25be;</span>
							<label title="Toggle Drop-down" class="drop-icon" for="toolscheck">&nbsp;&#x25be;</label>
						</div>
					</a>
					<input type="checkbox" id="toolscheck">
					<ul class="sub-menu">
						<li><a href="https://github.com/nmattei/PrefLib-Tools" target="_blank"><span id="listspan">&#x2666;&nbsp;</span>PrefLib tools on Github</a></li>
						<li><a href="{% url 'preflibapp:toolsIVS' %}"><span id="listspan">&#x2666;&nbsp;</span>Iterative Voting Simulator</a></li>
						<li><a href="{% url 'preflibapp:toolsKDG' %}"><span id="listspan">&#x2666;&nbsp;</span>Kidney Data Generator</a></li>
						<li><a href="{% url 'preflibapp:toolsCRIS' %}"><span id="listspan">&#x2666;&nbsp;</span>CRISNER</a></li>
					</ul>
				</li>

				<li><a href="{% url 'preflibapp:papers' %}"><span id="listspan">&#x2756;&nbsp;</span>Papers</a></li>

				<li><a href="{% url 'preflibapp:about' %}"><span id="listspan">&#x2756;&nbsp;</span>About</a></li>

				{% if user.is_superuser %}
					<li>
						<a href="{% url 'preflibapp:ownadmin' %}">
							<div>
								<span><span id="listspan"><strong>&#x2756;&nbsp;</strong></span><strong>Admin</strong></span>
								<span class="drop-icon">&nbsp;&#x25be;</span>
								<label title="Toggle Drop-down" class="drop-icon" for="admincheck"><strong>&nbsp;&#x25be;</strong></label>
							</div>
						</a>
						<input type="checkbox" id="admincheck">
						<ul class="sub-menu">
							<li><a href="{% url 'preflibapp:adminNews' %}"><span id="listspan">&#x2666;&nbsp;</span>Publish news</a></li>
							<li><a href="{% url 'preflibapp:adminPaper' %}"><span id="listspan">&#x2666;&nbsp;</span>Add a paper</a></li>
							<li><a href="{% url 'preflibapp:createUser' %}"><span id="listspan">&#x2666;&nbsp;</span>Create an user</a></li>
							<li><a href="{% url 'preflibapp:adminAddDataset' %}"><span id="listspan">&#x2666;&nbsp;</span>Add datasets</a></li>
							<li><a href="{% url 'preflibapp:adminZip' %}"><span id="listspan">&#x2666;&nbsp;</span>Regenerate zip files</a></li>
							<li><a href="{% url 'admin:index' %}"><span id="listspan">&#x2666;&nbsp;</span>Django admin</a></li>
						</ul>
					</li>
				{% endif %}
				{% if user.is_authenticated %}
					<li><a href="{% url 'preflibapp:logout' %}"><strong>Logout</strong></a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>