{% load static %}
{% load extratags %}

<table>
	<tr>
		<th colspan="2">{{ category.grouper | title }} Metadata</th>
	</tr>

	{% for metadata in category.list %}
		{% if metadata.search_widget == "ternary" %}
			<tr>
				<td>
					<a href="{% url 'preflibapp:data-metadata' %}#{{metadata.short_name}}" title="{{ metadata.description}}">{{ metadata.search_question }}</a>
				</td>
				<td>
					<div class="triValuedSelector">
						{% with metadata.short_name|add:'selector' as post_key %}
							{% with request.POST|key_value:post_key as previous_value %}
								<input type="radio" name="{{ metadata.short_name }}selector" id="{{ metadata.short_name }}selectorYes" class="triValuedSelectorYes" value="yes" {% if previous_value == "yes" %} checked {% endif %}/>
								<label for="{{ metadata.short_name }}selectorYes">&#10003;</label>
								<input type="radio" name="{{ metadata.short_name }}selector" id="{{ metadata.short_name }}selectorIndef" class="triValuedSelectorIndef" value="indef" {% if request.POST %}{% if previous_value == "indef" %} checked {% endif %}{% else %}checked{% endif %}/>
								<label for="{{ metadata.short_name }}selectorIndef"><span style="vertical-align: top; font-size: 0.6em;">&#10003;</span>/<span style="vertical-align: bottom; font-size: 0.6em;">&#10007;</span></label>
								<input type="radio" name="{{ metadata.short_name }}selector" id="{{ metadata.short_name }}selectorNo" class="triValuedSelectorNo" value="no" {% if previous_value == "no" %} checked {% endif %}/>
								<label for="{{ metadata.short_name }}selectorNo">&#10007;</label>
							{% endwith %}
						{% endwith %}
					</div>
				</td>
			</tr>

		{% else %}

			{% if metadata.search_widget == "range" %}
				<tr>
					<td colspan="2">
						<a href="{% url 'preflibapp:data-metadata' %}#{{metadata.short_name}}" title="{{ metadata.description}}">{{ metadata.search_question }}</a> <input id="{{ metadata.short_name }}_slider_value_min" class="valueInput" name="{{ metadata.short_name }}_slider_value_min"> - <input id="{{ metadata.short_name }}_slider_value_max" class="valueInput" name="{{ metadata.short_name }}_slider_value_max">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div id="{{ metadata.short_name }}_slider" class="slider-wrapper"></div>
					</td>
				</tr>

				{% with metadata.short_name|add:'_slider_value_min' as post_key_min %}
					{% with request.POST|key_value:post_key_min as previous_min_value %}
						{% with metadata.short_name|add:'_slider_value_max' as post_key_max %}
							{% with request.POST|key_value:post_key_max as previous_max_value %}
								{% with metadata_slider_values|key_value:metadata as init_values %}
									<script>
										var {{ metadata.short_name }}_slider = document.getElementById('{{ metadata.short_name }}_slider');
										noUiSlider.create({{ metadata.short_name }}_slider, {
											start: [{% if request.POST %} {{previous_min_value}}, {{previous_max_value}} {% else %} {{ init_values.0 }}, {{ init_values.2 }} {% endif %}],
											step: 1,
											connect: true,
											range: {
												'min': {{ init_values.0 }},
												'50%': {{ init_values.1 }},
												'max': {{ init_values.2 }}
											},
											format: {
												to: function ( value ) {
													return parseInt(value);
												},
												from: function ( value ) {
													return parseInt(value);
												}
											}
										});
										var {{ metadata.short_name }}_slider_value_min = document.getElementById('{{ metadata.short_name }}_slider_value_min');
										var {{ metadata.short_name }}_slider_value_max = document.getElementById('{{ metadata.short_name }}_slider_value_max');
										{{ metadata.short_name }}_slider.noUiSlider.on('update', function (values, handle) {
											{{ metadata.short_name }}_slider_value_min.value = values[0];
											{{ metadata.short_name }}_slider_value_max.value = values[1];
											{{ metadata.short_name }}_slider_value_min.style.width = {{ metadata.short_name }}_slider_value_min.value.length + "em";
											{{ metadata.short_name }}_slider_value_max.style.width = {{ metadata.short_name }}_slider_value_max.value.length + "em";
											{% for upper_bounded in metadata.upper_bounds.all %}
												var {{ upper_bounded.short_name }}_slider = document.getElementById('{{ upper_bounded.short_name }}_slider');
												{% with metadata_slider_values|key_value:upper_bounded as init_values %}
													if ({{upper_bounded.short_name}}_slider !== null) {
														if ({{upper_bounded.short_name}}_slider.noUiSlider.options['range']['max'] > values[1]) {
															{{ upper_bounded.short_name }}_slider.noUiSlider.updateOptions({
																range: {
																	'min': {{ init_values.0 }},
																	'max': values[1]
																}
															});
														} else if (values[1] <= {{ init_values.2 }}) {
															{{ upper_bounded.short_name }}_slider.noUiSlider.updateOptions({
																range: {
																	'min': {{ init_values.0 }},
																	'max': values[1]
																}
															});
														} else {
															{{ upper_bounded.short_name }}_slider.noUiSlider.updateOptions({
																range: {
																	'min': {{ init_values.0 }},
																	'max': {{ init_values.2 }}
																}
															});
														}
													}
												{% endwith %}
											{% endfor %}
										});
										{{ metadata.short_name }}_slider_value_min.addEventListener('input', function (evt) {
											{{ metadata.short_name }}_slider.noUiSlider.set([this.value, null]);
										});
										{{ metadata.short_name }}_slider_value_max.addEventListener('input', function (evt) {
											{{ metadata.short_name }}_slider.noUiSlider.set([null, this.value]);
										});
									</script>
								{% endwith %}
							{% endwith %}
						{% endwith %}
					{% endwith %}
				{% endwith %}
			{% endif %}
		{% endif %}
	{% endfor %}
</table>